<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="DirDatabase" value="c:\VSSProgetti\Buste\Buste\bin\Debug"/>
    <add key="PathDatabase" value="c:\VSSProgetti\Buste\Buste\bin\Debug\BusteEV.mdb"/>

    <add key="DirDatabase" value="\\server7\busteEV"/>
    <add key="PathDatabase" value="\\server7\busteEV\BusteEV.mdb"/>

	<add key="DirDatabase" value="c:\VSProgetti\Buste\Buste\bin\Debug"/>
	<add key="PathDatabase" value="c:\VSProgetti\Buste\Buste\bin\Debug\Buste.mdb"/>

	<add key="DirDatabase" value="\\server7\buste\Buste"/>
    <add key="PathDatabase" value="\\server7\buste\buste\Buste.mdb"/>

    <add key="SuonoErrore" value="c:\VSProgetti\Buste\sounds\Error01.wav"/>
    <add key="SuonoConferma" value="c:\VSProgetti\Buste\sounds\Conferma01.wav"/>
    <add key="SuonoOkInserimento" value="c:\VSProgetti\Buste\sounds\Ok01.wav"/>
    <add key="SuonoOkInserimentoMulti" value="c:\VSProgetti\Buste\sounds\Ok02.wav"/>

    <add key="DirTemp" value="c:\VSProgetti\Buste\temp"/>
  </appSettings>
</configuration>